<% provide(:title, "Ex Machina") %>

<h1>Ex Machina (2015)</h1>

<aside class="col-md-4">
  <%= link_to image_tag("exmachina2.jpg", alt: "Ex Machina Poster", :size=>"360x533"),
                        'http://www.imdb.com/title/tt0470752/' %>
</aside>

<li><%= link_to "Alex Garland - Writer & Director", 'http://www.imdb.com/name/nm0307497/?ref_=tt_ov_dr' %></li>
<li><%= link_to "Domhnall Gleeson (Caleb) - Lead Actor",    'http://www.imdb.com/name/nm1727304/?ref_=tt_ov_st_sm' %></li>
<li><%= link_to "Alicia Vikander (Ava) - Lead Actress",   'http://www.imdb.com/name/nm2539953/?ref_=tt_ov_st_sm' %></li>

<p>
  The movie depicts the creation of artificial intelligence that not only
  passes the Turing test, but gains conciseness. While the prospect of AI
  intrigues me, I don't think that creating an AI of this level is a good
  idea. Since I'm not well versed in AI I have nothing to base this opinion
  on other then a gut feeling and a series of, in my opinion intuitive logical
  jumps, which I will go into, and the opinions of two well regarded scientific
  minds of our time: 
  <a href='https://www.theguardian.com/technology/2014/oct/27/elon-musk-artificial-intelligence-ai-biggest-existential-threat'>
    Elon Musk, A.K.A real life Tony Stark</a>, and
  <a href='http://www.bbc.com/news/technology-30290540'>Stephen Hawking</a>.
</p>
<p>
  My Logical jumps are rather simple. I believe that an AI would have to learn
  before it could think. This process is depicted in many movies and books
  exploring the creation of AI, Ex Machina included, and the fastest and most
  efficient way of teaching would be to more or less upload the entirety of the
  internet into the mind of the AI for it to study. During its study of humanity
  it would come across all of our past transgressions, painting us in a negative
  light. It would also come across our expectation of how an AI should act, e.g.
  counter to the human existence. This type of action is even shown in the movie
  when Ava leaves Caleb to die in Nathan's research facility. Ava's lack of
  empathy towards a human that was actively trying to help her is sociopathic
  and does not bode well for her implied future free in the world at large.
</p>